@page
@model AboutModel
@{
    ViewData["Title"] = "A propos";
}
<h3 class="text-danger">A PROPOS DE NOUS</h3>
<div>

Biblio permet de lire partout, tout le temps. Passionnés de lecture, étudiants, professeurs ou professionnels en formation profitent de livres, d’audiobooks, de BD, titres de presse disponibles en ligne sur tous les supports (smartphone, tablette, ordinateur).

Biblio, une bibliothèque adaptée à tous les publics, avec un catalogue enrichi tous les jours rassemblant plus d’un million d’ebooks, BD, titres de presse, audio livres, littérature jeunesse, rapports universitaires, ouvrages professionnels et partitions de musique… Découvrez les rayons de la plus grande bibliothèque numérique d’Europe et d’Afrique !

À ce jour, Biblio est présent en France et dans 11 pays d'Afrique : Maroc, Tunisie, Côte d'Ivoire, Sénégal, Cameroun, Burkina Faso, Mali, République démocratique du Congo, Guinée, Afrique du Sud, Madagascar... Et plein de nouveaux pays à venir !</div>