@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
 <div class="index-space"> 
      <img src="/images/biblio.jpg" class="index-image" />
 </div>
<div class="text-center">

    <section class="my-6 selection-text ">
    <div class="container ">
     
<p>Pour vous l’achat de livre n’est pas la solution idéale, vous trouvez cela trop cher, alors que vous lisez le livre qu’une seule fois&nbsp;? Découvrez alors notre <strong>bibliothèque numérique</strong> qui vous propose de disposer d’un nombre de livres illimités par rapport aux dizaines de milliers d’ouvrages que nous avons sur notre site de livres.</p>
<h2 class="title2">Une bibliothèque en version numérique&nbsp;?</h2>
<p>La <strong>bibliothèque</strong> c’est normalement un lieu physique où sont réunis des manuscrits, livres et autres écrits. La plupart du temps ils seront accessibles aux publics soient gratuitement, soit en payant un petit abonnement.</p>
<p>Biblioteca vous propose la version internet de la bibliothèque, c’est un dire un lieu virtuel où vous pourrez trouver à travers les rayons et les sections un nombre impressionnants d’ebooks, mais aussi de documents divers et variés. Tout cela pour un abonnement mensuel de seulement une petite dizaine d’euros par moi&nbsp;!</p>
<p>Avec notre bibliothèque en ligne vous aurez donc tous les avantages de la bibliothèque en version physique, mais sans avoir besoin de sortir de chez vous, avec une méthode de recherche facilité (grâce à notre moteur de recherche) et aussi la praticité des documents en version numérique.</p>
<h2 class="title2">Un choix unique de livres</h2>
<p>Rentrer dans la bibliothèque Biblioteca, c’est l’occasion unique de découvrir des livres très anciens, mais aussi d’autres plus récents, ainsi qu’une multitude de documents en tous genres. En fait, notre site est une plateforme unique pour tous ceux qui recherche des ebooks, sans les payer.</p>
<p>Vous aurez accès gratuitement à plusieurs milliers de manuscrits et documents en tous genres, mais surtout vous pourrez accéder à des ouvrages de grandes qualités en payant seulement 9,90 euros par mois (le premier étant gratuit), c’est le principe même de l'abonnement à des livres numériques que nous vous proposons en tant que bibliothèque.</p>
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="/images/ind.jpg" alt="Abonnez-vous à Biblioteca !" width="768" height="90"></p>
<p>Notre plateforme c’est un catalogue&nbsp;:</p>
<ul>
<li>De livres de littérature comme les romans ou les nouvelles</li>
<li>De bandes dessinées, mangas ou comics</li>
<li>D’ouvrages sur le savoir et les sciences humaines ou dures</li>
<li>D’ebooks pratiques ou de loisirs</li>
<li>De guides touristiques</li>
<li>De manuels scolaires</li>
</ul>
<p>Parcourez donc dès maintenant notre bibliothèque pour découvrir un choix immense de livres, pour apprendre et vous cultivez… Vous pouvez aussi acheter les e-books sur notre librarie Biblioteca.</p>    </div>
</section>
</div>
